.App {
  color: white;
  text-align: center;
  background-color: #17462c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #2e8b57;
}

.navbar-brand {
  font-size: 1.5rem;
  color: white;
  text-decoration: None;
  font-size: 50px;
}

.navbar-nav .nav-link {
  font-size: 1.4rem;
  margin-right: 20px;
  color: white;
  text-decoration: None;
  list-style-type: none;
}
.navbar-nav .nav-link li {
  list-style: none;
}
.navbar-nav .nav-link:hover {
  color: 97c5ab;
}

.firstSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.leftSection {
  text-align: center;
}

.leftSection h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.leftSectiondiv {
  font-size: 1.5rem;
}

.card {
  background-color: #256f46;
  color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer {
  background-color: #222;
  color: white;
  padding: 10px 0;
  text-align: center;
}
